{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/preset-typescript",
        "@babel/preset-react",
        "next/babel"
    ],
    "plugins": ["inline-react-svg", "inline-dotenv"],
    "env": {
        "test": {
            "plugins": [
                "babel-plugin-dynamic-import-node",
                [
                    "transform-class-properties",
                    {
                        "spec": true
                    }
                ]
            ]
        }
    }
}
